@{
    ViewBag.Title = "Private";
}

<h2>Private</h2>

<p>This is a private page!</p>
<br/>
<p><b>Access token:</b> @ViewData["access_token"]</p>
<p><b>Refresh token:</b> @ViewData["refresh_token"]</p>
<p><b>Data retrieved from server:</b> @ViewData["data"]</p>